# Analyze the function **load_gwas_cat()** in *LoadData.py*

In [ ]:
import os
import pandas as pd

## load the cat_stud data file

In [4]:
Cat_Stud = pd.read_csv(os.path.abspath(
                           os.path.join('__file__',
                                        '..',
                                        'data',
                                        'Catalogue',
                                        'Raw',
                                        'Cat_Stud.tsv')),
                           header=0, sep='\t', encoding='utf-8',
                           index_col=False)
Cat_Stud.head()

,DATE ADDED TO CATALOG,PUBMEDID,FIRST AUTHOR,DATE,JOURNAL,LINK,STUDY,DISEASE/TRAIT,INITIAL SAMPLE SIZE,REPLICATION SAMPLE SIZE,PLATFORM [SNPS PASSING QC],ASSOCIATION COUNT,MAPPED_TRAIT,MAPPED_TRAIT_URI,STUDY ACCESSION,GENOTYPING TECHNOLOGY
0,2019-08-23,31434886,Luo Y,2019-08-21,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31434886,Early progression to active tuberculosis is a ...,Early progression to active pulmonary tubercul...,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,Affymetrix [7756401] (imputed),1,"Tuberculosis, susceptibility to Mycobacterium ...","http://www.orpha.net/ORDO/Orphanet_3389, http:...",GCST008488,Genome-wide genotyping array
1,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >90th survival percentile),"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...","Affymetrix, Illumina [up to 10786384] (imputed)",2,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008598,Genome-wide genotyping array
2,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >99th survival percentile),"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",Illumina [up to 9449311] (imputed),2,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008599,Genome-wide genotyping array
3,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >90th survival percentile),"11,262 European ancestry cases, 2,178 East Asi...",NaN,"Affymetrix, Illumina [up to 10786384] (imputed)",8,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008600,Genome-wide genotyping array
4,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >99th survival percentile),"3,484 European ancestry cases, 2,178 East Asia...",NaN,Illumina [up to 9449311] (imputed),7,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008601,Genome-wide genotyping array

In [13]:
# fill in the missing value with NA
Cat_Stud.fillna('N/A', inplace=True)
Cat_Stud.head()

,DATE ADDED TO CATALOG,PUBMEDID,FIRST AUTHOR,DATE,JOURNAL,LINK,STUDY,DISEASE/TRAIT,INITIAL SAMPLE SIZE,REPLICATION SAMPLE SIZE,PLATFORM [SNPS PASSING QC],ASSOCIATION COUNT,MAPPED_TRAIT,MAPPED_TRAIT_URI,STUDY ACCESSION,GENOTYPING TECHNOLOGY
0,2019-08-23,31434886,Luo Y,2019-08-21,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31434886,Early progression to active tuberculosis is a ...,Early progression to active pulmonary tubercul...,"2,160 Peruvian cases, 1,820 Peruvian controls",N/A,Affymetrix [7756401] (imputed),1,"Tuberculosis, susceptibility to Mycobacterium ...","http://www.orpha.net/ORDO/Orphanet_3389, http:...",GCST008488,Genome-wide genotyping array
1,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >90th survival percentile),"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...","Affymetrix, Illumina [up to 10786384] (imputed)",2,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008598,Genome-wide genotyping array
2,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >99th survival percentile),"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",Illumina [up to 9449311] (imputed),2,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008599,Genome-wide genotyping array
3,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >90th survival percentile),"11,262 European ancestry cases, 2,178 East Asi...",N/A,"Affymetrix, Illumina [up to 10786384] (imputed)",8,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008600,Genome-wide genotyping array
4,2019-09-05,31413261,Deelen J,2019-08-14,Nat Commun,www.ncbi.nlm.nih.gov/pubmed/31413261,A meta-analysis of genome-wide association stu...,Longevity (age >99th survival percentile),"3,484 European ancestry cases, 2,178 East Asia...",N/A,Illumina [up to 9449311] (imputed),7,longevity,http://www.ebi.ac.uk/efo/EFO_0004300,GCST008601,Genome-wide genotyping array

## load the ancenstry data *Cat_Anc*

In [70]:
Cat_Anc = pd.read_csv(os.path.abspath(
                          os.path.join('__file__', '..',
                                       'data',
                                       'Catalogue',
                                       'Raw',
                                       'Cat_Anc.tsv')),
                          header=0, sep='\t', encoding='utf-8',
                          index_col=False)

Cat_Anc.rename(columns={'BROAD ANCESTRAL CATEGORY': 'BROAD ANCESTRAL',
                            'NUMBER OF INDIVDUALS': 'N'}, inplace=True)
Cat_Anc.head()
# if an article contains more than one ancestry, then the data will breakdown the ancenstries and put them into different rows.

,STUDY ACCCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN

In [71]:
# drop those with null ancenstry articles
Cat_Anc = Cat_Anc[~Cat_Anc['BROAD ANCESTRAL'].isnull()]
Cat_Anc.head()

,STUDY ACCCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN

In [72]:
#Replace occurrences of pattern in the the column names with some other string. Here is used to correctify the spelling
Cat_Anc.columns = Cat_Anc.columns.str.replace('ACCCESSION', 'ACCESSION')
Cat_Anc.head()

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN

## Collapse by article, and obtain the sample size information for each article.
Remark: Currently this sum of sample size for each article is the total of replication sample and initial sample.

In [73]:
Cat_Anc_byN = Cat_Anc[['STUDY ACCESSION', 'N',
                         'DATE']].groupby(by='STUDY ACCESSION').sum()
Cat_Anc_byN = Cat_Anc_byN.reset_index()
Cat_Anc_byN.head()

# get the initial sample size fo each article
# Cat_Anc_byN = Cat_Anc[Cat_Anc["STAGE"] == "initial"][["STUDY ACCESSION", "N", "DATE"]].groupby("STUDY ACCESSION").sum()

  STUDY ACCESSION        N
0      GCST000001    146.0
1      GCST000002   1550.0
2      GCST000003  12316.0
3      GCST000004   5051.0
4      GCST000005    537.0

In [74]:
# merge the ancestral summary back with the gwas article info.
Cat_Anc_byN = pd.merge(Cat_Anc_byN, Cat_Stud[[
        'STUDY ACCESSION', 'DATE']], how='left', on='STUDY ACCESSION')
Cat_Anc_byN.head()

  STUDY ACCESSION        N        DATE
0      GCST000001    146.0  2005-03-10
1      GCST000002   1550.0  2005-09-09
2      GCST000003  12316.0  2006-04-14
3      GCST000004   5051.0  2006-04-30
4      GCST000005    537.0  2006-09-28

## Begin to clean the ancestral categories based on a per-specified ancestral cleaner

#### Load in the ancestral cleaner

In [75]:
cleaner_broad = pd.read_csv(os.path.abspath(
        os.path.join('__file__',
                     '..',
                     'data',
                     'Support',
                     'dict_replacer_broad.tsv')),
        sep='\t', header=0, index_col=False)
cleaner_broad.head()

,BROAD ANCESTRAL,Broader
0,African,African
1,African American or Afro-Caribbean,African American or Afro-Caribbean
2,"African American or Afro-Caribbean, African un...",Other/Mixed
3,"African American or Afro-Caribbean, African un...",Other/Mixed
4,"African American or Afro-Caribbean, Asian unsp...",Other/Mixed

#### merge the **ancenstral cleaner** to the ancenstry data

In [76]:
Cat_Anc = pd.merge(Cat_Anc, cleaner_broad, how='left',
                       on='BROAD ANCESTRAL')
Cat_Anc.head()
# REMARK: the column "Broader" is the merged info from the ancestral cleaner.

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION,Broader
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian,In Part Not Recorded
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN,European
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN,European
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN,European
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN,European

In [77]:
Cat_Anc['Dates'] = [pd.to_datetime(d) for d in Cat_Anc['DATE']]
# creates a new date column "Dates", but why?
#print(type(Cat_Anc.loc[0,'DATE']))  The column "DATE" 's element is a str
#print(type(Cat_Anc.loc[0, "Dates"])) The column "Dates"'s element is a time type
Cat_Anc.head()

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION,Broader,Dates
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian,In Part Not Recorded,2019-08-21
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN,European,2019-08-14
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN,European,2019-08-14
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN,European,2019-08-14
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN,European,2019-08-14

In [78]:
print(type(Cat_Anc.loc[0,"N"]))
Cat_Anc['N'] = pd.to_numeric(Cat_Anc['N'], errors='coerce')
Cat_Anc.head()

<class 'numpy.float64'>
<class 'numpy.float64'>

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION,Broader,Dates
0,GCST008488,31434886,Luo Y,2019-08-21,"2,160 Peruvian cases, 1,820 Peruvian controls",NaN,initial,3980.0,NR,NR,Peru,Peruvian,In Part Not Recorded,2019-08-21
1,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",initial,36745.0,European,NR,"France, U.S., Netherlands, Denmark, Finland, I...",NaN,European,2019-08-14
2,GCST008598,31413261,Deelen J,2019-08-14,"11,262 European ancestry cases, 25,483 Europea...","2,557 European ancestry cases, 4,987 European ...",replication,7544.0,European,NR,"Germany, Denmark",NaN,European,2019-08-14
3,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",initial,28967.0,European,NR,"U.S., France, Netherlands, Denmark, Finland, U...",NaN,European,2019-08-14
4,GCST008599,31413261,Deelen J,2019-08-14,"3,484 European ancestry cases, 25,483 European...","1,911 European ancestry cases, 4,987 European ...",replication,6898.0,European,NR,"Germany, Denmark",NaN,European,2019-08-14

In [86]:
## keep the non-missing sample size articiles
Cat_Anc = Cat_Anc[Cat_Anc['N'].notnull()]

## cast the sample size column into integer, previous is float
Cat_Anc['N'] = Cat_Anc['N'].astype(int)

## sort the data by dates, from the earliest to latest
Cat_Anc = Cat_Anc.sort_values(by='Dates', ascending = True)

Cat_Anc.head()

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION,Broader,Dates
14706,GCST000001,15761122,Klein RJ,2005-03-10,"96 European ancestry cases, 50 European ancest...",NaN,initial,146,European,NR,NR,NaN,European,2005-03-10
14701,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,141,Other,NR,U.S.,NaN,Other/Mixed,2005-09-09
14703,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",replication,541,European,NR,U.S.,NaN,European,2005-09-09
14702,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,1,Asian unspecified,NR,U.S.,NaN,Asian,2005-09-09
14700,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,744,European,NR,U.S.,NaN,European,2005-09-09

In [95]:
Cat_Anc['Broader']
## Hard coding: replace a typical ancestry category, there pandas.series.str.replace is used.
Cat_Anc['Broader'] = Cat_Anc['Broader'].str.replace(
        'African American or Afro-Caribbean', 'African Am./Caribbean')

Cat_Anc['Broader'] = Cat_Anc['Broader'].str.replace(
        'Hispanic or Latin American', 'Hispanic/Latin American')

Cat_Anc = Cat_Anc.sort_values(by=["PUBMEDID", 'Dates'], ascending = True)
Cat_Anc.head()

,STUDY ACCESSION,PUBMEDID,FIRST AUTHOR,DATE,INITIAL SAMPLE DESCRIPTION,REPLICATION SAMPLE DESCRIPTION,STAGE,N,BROAD ANCESTRAL,COUNTRY OF ORIGIN,COUNTRY OF RECRUITMENT,ADDITONAL ANCESTRY DESCRIPTION,Broader,Dates
14706,GCST000001,15761122,Klein RJ,2005-03-10,"96 European ancestry cases, 50 European ancest...",NaN,initial,146,European,NR,NR,NaN,European,2005-03-10
14701,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,141,Other,NR,U.S.,NaN,Other/Mixed,2005-09-09
14703,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",replication,541,European,NR,U.S.,NaN,European,2005-09-09
14702,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,1,Asian unspecified,NR,U.S.,NaN,Asian,2005-09-09
14700,GCST000002,16252231,Maraganore DM,2005-09-09,"381 European ancestry cases, 363 European ance...","269 European ancestry cases, 272 European ance...",initial,744,European,NR,U.S.,NaN,European,2005-09-09

## Load the full GWAS article info dataset, which includes all the information, such as p-value, SNP, for each GWAS article.

In [99]:
Cat_Full = pd.read_csv(os.path.abspath(os.path.join('__file__',
                                                        '..',
                                                        'data',
                                                        'Catalogue',
                                                        'Raw',
                                                        'Cat_Full.tsv')),
                           header=0, sep='\t', encoding='utf-8',
                           index_col=False, low_memory=False)
Cat_Full.head()

,DATE ADDED TO CATALOG,PUBMEDID,FIRST AUTHOR,DATE,JOURNAL,LINK,STUDY,DISEASE/TRAIT,INITIAL SAMPLE SIZE,REPLICATION SAMPLE SIZE,...,CONTEXT,INTERGENIC,RISK ALLELE FREQUENCY,P-VALUE,PVALUE_MLOG,P-VALUE (TEXT),OR or BETA,95% CI (TEXT),PLATFORM [SNPS PASSING QC],CNV
0,2015-05-20,21801394,Genin E,2011-07-29,Orphanet J Rare Dis,www.ncbi.nlm.nih.gov/pubmed/21801394,Genome-wide association study of Stevens-Johns...,Drug-induced Stevens-Johnson syndrome or toxic...,"424 European ancestry cases, 1,881 European an...",NaN,...,intron_variant,0.0,0.15,2E-9,8.698970,NaN,1.73,[1.44-2.08],Illumina [268914],N
1,2011-08-22,21743467,Kote-Jarai Z,2011-07-10,Nat Genet,www.ncbi.nlm.nih.gov/pubmed/21743467,Seven prostate cancer susceptibility loci iden...,Prostate cancer,"6,621 European ancestry cases, 6,939 European ...","22,957 European ancestry cases, 23,234 Europea...",...,intron_variant,0.0,0.59,3E-15,14.522879,NaN,1.09,[1.06-1.12],NR [2600000] (imputed),N
2,2011-08-22,21743467,Kote-Jarai Z,2011-07-10,Nat Genet,www.ncbi.nlm.nih.gov/pubmed/21743467,Seven prostate cancer susceptibility loci iden...,Prostate cancer,"6,621 European ancestry cases, 6,939 European ...","22,957 European ancestry cases, 23,234 Europea...",...,intergenic_variant,1.0,0.22,3E-9,8.522879,NaN,1.06,[1.02-1.09],NR [2600000] (imputed),N
3,2011-08-22,21743467,Kote-Jarai Z,2011-07-10,Nat Genet,www.ncbi.nlm.nih.gov/pubmed/21743467,Seven prostate cancer susceptibility loci iden...,Prostate cancer,"6,621 European ancestry cases, 6,939 European ...","22,957 European ancestry cases, 23,234 Europea...",...,intron_variant,0.0,0.45,2E-8,7.698970,NaN,1.04,[1.01-1.07],NR [2600000] (imputed),N
4,2011-08-22,21743467,Kote-Jarai Z,2011-07-10,Nat Genet,www.ncbi.nlm.nih.gov/pubmed/21743467,Seven prostate cancer susceptibility loci iden...,Prostate cancer,"6,621 European ancestry cases, 6,939 European ...","22,957 European ancestry cases, 23,234 Europea...",...,intron_variant,0.0,0.52,7E-22,21.154902,NaN,1.11,[1.08-1.14],NR [2600000] (imputed),N

## Save the merged ancestry data set into csv file.

In [101]:
Cat_Anc.to_csv(os.path.abspath(
        os.path.join('__file__',
                     '..',
                     'data',
                     'Catalogue',
                     'Synthetic',
                     'Cat_Anc_withBroader.tsv')),
                   sep='\t', index=False)

## Return values
The function **load_gwas_cat** returns 4 dataframes

In [102]:
#return Cat_Stud, Cat_Anc, Cat_Anc_byN, Cat_Full

SyntaxError: 'return' outside function (<ipython-input-102-a8d723dc2b2b>, line 1)

# Analyze the function **load_pubmed_data()** in the *PubMed.py*.